@page "/"

<PageTitle>Pesquisa base de conhecimento</PageTitle>

<div class='d-flex flex-row justify-center align-center gap-4' style='width: 100% !important' LINHA>
    <PesquisaComponent/>
    @* <ChatComponent/> *@
</div>
