@page "/"
@using Procurador.Web.Src.Pages.Pesquisa

<PageTitle>Procurador - Pesquisa e "chat" com documentos no computador pessoal</PageTitle>

<MudText Typo="Typo.h3" GutterBottom>Procurador</MudText>
<MudText Typo="Typo.subtitle1" GutterBottom>Pesquisa e "chat" com documentos no computador pessoal</MudText>

<br>

<div class='d-flex flex-row justify-center align-center gap-4' style='width: 100% !important' LINHA>
    <PesquisaComponent/>
    @* <ChatComponent/> *@
</div>
