@page "/"
@using Procurador.Web.Src.Pages.Pesquisa

<PageTitle>LLM RAG Agent Knowledgebase - Search and chat with documents in local computer</PageTitle>

<MudText Typo="Typo.h3" GutterBottom>LLM RAG Agent Knowledgebase</MudText>
<MudText Typo="Typo.subtitle1" GutterBottom>Search and chat with documents in local computer</MudText>

<br>

<div class='d-flex flex-row justify-center align-center gap-4' style='width: 100% !important' LINHA>
    <PesquisaComponent/>
    @* <ChatComponent/> *@
</div>
